NOMAD_LICENSE={{ NOMAD_LICENSE }}
CONSUL_HTTP_SSL="true"
CONSUL_HTTP_SSL_VERIFY="true"
CONSUL_CACERT="/etc/consul.d/consul-agent-ca.pem"
CONSUL_CLIENT_CERT="/etc/consul.d/dc1-client-consul-0.pem"
CONSUL_CLIENT_KEY="/etc/consul.d/dc1-client-consul-0-key.pem"